body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex-grow: 1;
}

/* input area + search button  */
.weather-search,
.search-button {
  height: 40px;
}

/* history  */
.custom-hover-style:hover {
  cursor: pointer;
}

/* Remove the existing styles for the footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: 5px solid black;
  background-color: #343a40; /* Match the background color of the header */
  color: white; /* Set the text color to white */
  font-size: 18px;
}

footer .footer-name {
  margin: 0 5px;
}
